* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #EEE;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}

header {
    width: 100%;
    background-color: #F3F6F4;
}

img{max-width: 60% !important;}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 5em;
    margin: 15px auto;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 2px 0 15px 0;
}

span {font-size: 1.5em;}

a {text-decoration: none; color: #000}

p {
    font-size: 1.25em;
    line-height: 1.4em;
}

p + p {margin: 15px 0;}

.container {
    width: 400px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #FFF;
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

main {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


section.foto-social {
    flex: 1 1 90px;
}

section.texto {
    flex: 1 1 auto;
}

section + section {margin-left: 10px;}

.foto {
    width: 100px;
    height: 100px;
    margin: 100%;
    border-radius: 50%;
}

